---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->


					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Papertronics</h2>
										<span class="byline">Welcome to a whole new world of messy interactions based on color and paper.</span>
									</header>
									
									<!-- <a href="#" class="button alt">Sign Up</a> -->
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">

				<section class="container">
					<header class="major">
                    <h2>Where everything started</h2>
					<p>
                    First there was <a href="http://www.flippaper.org">Flippaper</a>, a project between a drafting table and a pinball. Take a few felt pens, draw a few shapes, press SCAN and ta-dah!, your drawing lights up. And it doesn't stop there: with the help of smoke, mirrors and a bit of tech, a ball appears on your drawing and reacts to it. A whole pinball emerges before your eyes. Through a language of shapes and colors, you're in charge of the gameplay and the look of your pinball.
                    </p>
					</header>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/st_DSDMGFpo" frameborder="0" allowfullscreen></iframe>

				</section>


<br/>
<br/>

				<section class="container">
					<header class="major">
                    <h2>The PaperPlay library: opening the technology</h2>
                    <p>
                    Digital interaction based on canvas and colors proved to have a big potential. As soon as the underlying tech was made easier, a lot of new ideas emerged. Some from us, some from other people we discussed with. It was only a matter of time before we worked on and release the first version of the PaperPlay library. With it, scanning and making sense of your drawing is made easier. What you do with it is up to you! Right now the library is still in beta, we're aiming a public release in the upcoming month (May). Be sure to get in touch if you want to get a taste of it! For more info: <a href="mailto:info@papertronics.org">info@papertronics.org</a>
                    </p>
					</header>


					<div class="row no-collapse-1">
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/lib1.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/lib2.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/lib3.jpg" alt=""></div>
						</section>
					</div>

				</section>


<br/>
<br/>
				<section class="container">
					<header class="major">
                    <h2>Back in the real world: the Kit</h2>
                    <p>
                    We are currently working on a light and versatile kit to bring the magic of interactive drawing to your. At home, in a FabLab, at an expo... For pleasure, prototyping, game design... the kit makes it easy for you to explore new tangible interaction ideas. 
                    </p>
                    <p>
We are already available for workshops ! Papertronics offer a new twist on education and provides a totally new approach for teaching game-design (and video game history), drawing and programming. Have already an idea in mind? Contact us: <a href="mailto:info@papertronics.org">info@papertronics.org</a>
                    </p>
					</header>


					<div class="row no-collapse-1">
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/kit1.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/kit2.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/kit3.jpg" alt=""></div>
						</section>
					</div>

				</section>

<br/>
<br/>
				<section class="container">
					<header class="major">
                    <h2>The team: Jérémie Cortial & Roman Miletitch</h2>
                    <p>
                    Jéremie Cortial and Roman Miletitch are the left and right arms of Papertronics, aiming to find more natural and physical (who said carnal?) ways to interact with new technologies. Pigments on canvas was used by cavemen, so it felt good enough for us. Felt pen, paint or colored dot stickers on papers, colored food syrup on thin white waffle, graff on a wall, body paint on naked bodies... draw with any means necessary and grant your drawing life by pressing the magical SCAN button. What was static becomes dynamic, alive and utterly fun to play! A whole new world of messy interactions opens up. We're the welcoming committee.
                    </p>
					</header>

				</section>

			</div>

	{{ content }}
