---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->


					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Papertronics</h2>
										<span class="byline">Papertronics, maker of the <a href="http://www.flippaper.org">Flippaper</a>, welcomes you to a whole new world of messy interactions based on color and paper. Curious to know more? You're on the right website. You prefere a discussion? You can reach us on <a href="https://twitter.com/papertronics">twitter</a> or by mail: info@papertronics.org</span>
									</header>
									
									<!-- <a href="#" class="button alt">Sign Up</a> -->
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">

				<section class="container">
					<header class="major">
                    <span class="byline">Where everything started: Flippaper</span>
					<p>
                    First there was Flippaper, a project between a drafting table and a pinball. Take a few felt pens, draw a few shapes, press SCAN and ta-dah!, your drawing lights up. And it doesn't stop there: with the help of smoke, mirrors and a bit of tech, a ball appears on your drawing and reacts to it. A whole pinball emerges before your eyes. Through a language of shapes and colors, you're in charge of the gameplay and the look of your pinball.
                    </p>
					</header>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/st_DSDMGFpo" frameborder="0" allowfullscreen></iframe>

				</section>


<br/>
<br/>

				<section class="container">
					<header class="major">
                    <span class="byline">Opening the technology: the PaperPlay library</span>
                    <p>
                    We realised quickly that this paper/color based interaction had way more than just one application. So much potential that we could not dig all of it on our own. This is why first we decided to create a mini library for ourselves, to help us create other projects, and second we decided to open it up, for others to be able to tap on this potential. Right now the library is still in beta, be sure to get in touch if you want to get a taste of it! We're aiming a public release in the upcoming month (May). 
                    </p>
					</header>


					<div class="row no-collapse-1">
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/test.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/test.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/test.jpg" alt=""></div>
						</section>
					</div>

				</section>


<br/>
<br/>
				<section class="container">
					<header class="major">
                    <span class="byline">Back in the real world: the Kit.</span>
                    <p>
                    bbbba blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
la blablabla bla blabla bla
                    </p>
					</header>


					<div class="row no-collapse-1">
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/test.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/test.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/test.jpg" alt=""></div>
						</section>
					</div>

				</section>

<br/>
<br/>
				<section class="container">
					<header class="major">
                    <span class="byline">Jérémie Cortial & Roman Miletitch: the team.</span>
                    <p>
                    Jéremie Cortial and Roman Miletitch are the left and right arms of Papertronics, aiming to find more natural and physical (who said carnal?) ways to interact with new technologies. Pigments on canvas was used by cavemen, so it felt good enough for us. Felt pen, paint or colored dot stickers on papers, colored food syrup on thin white waffle, graff on a wall, body paint on naked bodies... draw with any means necessary and grant your drawing life by pressing the magical SCAN button. What was static becomes dynamic, alive and utterly fun to play! A whole new world of messy interactions opens up. We're the welcoming committee.
                    </p>
					</header>


					<div class="row no-collapse-1">
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/test.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/test.jpg" alt=""></div>
						</section>
						<section class="4u">
							<div class="image feature"><img src="{{ site.baseurl }}/assets/images/test.jpg" alt=""></div>
						</section>
					</div>

				</section>

			</div>

	{{ content }}
